@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 80px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(2, 2, 2);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.8);
  z-index: 10;
  opacity: .9;
}

.logo {
  max-height: 75px;
  float: left;
  padding: 10px 0;
}

nav{
  float:right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  display: flex;
  justify-content:space-around;
  width: 100%;
  margin-right: 20px;
}

nav li {
  display: inline-block;
  list-style: none;
  margin-top: 15px;
  margin-left: 15px;
}

nav a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

nav a:hover{
    color: #959595;
  }


.sticky {
  position:fixed;
  top: 0;
  width:100%;
}


@media (min-width: 736px) {
  nav{
    height: 45px;
    font-size: 0;
    display: flex !important;
    justify-content: flex-end;
    background-color: transparent;
  }
  nav > a {
    width: auto;
    height: 100%;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    transition: all .25s ease-in-out;
  }
  .menu-icon {
    display: none;
  }
}

h1 {
  font-size: 30pt;
  color: Black;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  text-indent: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 24px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 3px;
  }

  nav ul {
    max-height: 0px;
    background: black;
  }

  nav.black ul {
    background: black
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width:100%;
    padding: 24px 0;
    text-align:center;
  }

  .menu-icon {
    display: block;
  }

}

.bl-overlay{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btext-overlay {
  color: white;
  text-align: center;
  font-weight:700;
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
}
.id-overlay{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 40px; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ltext-overlay {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;

}

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*

    Home mute icon

*/

.unmute-video {
    background:url(../images/unmute.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    position: absolute;
    bottom: 18px;
    right: 30px;
    z-index: 10;
}
.mute-video {
    background:url(../images/mute.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    position: absolute;
    bottom: 18px;
    right: 30px;
    z-index: 10;
}


/*

    ABOUT

*/

/* Container holding the image and the text */
.m-container {
  position:relative;
  top: 60px;
  width: 100%;
  height: 360px;
  text-align: center;
 /* box-shadow: inset 0px 0px 50px 40px rgba(0,0,0,0.75); */
  color: white;
}
.members {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2
}

.member1 {
  position: absolute;
  bottom: 46px;
  left: 16px;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.role1 {
  position: absolute;
  bottom: 10px;
  left: 16px;
  font-size: 2vw;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.member2 {
  position: absolute;
  bottom: 46px;
  left: 386px;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.role2 {
  position: absolute;
  bottom: 10px;
  left: 386px;
  font-size: 2vw;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.member3 {
  position: absolute;
  bottom: 46px;
  left: 736px;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.role3 {
  position: absolute;
  bottom: 10px;
  left: 736px;
  font-size: 2vw;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.member4 {
  position: absolute;
  bottom: 46px;
  left: 1106px;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.role4 {
  position: absolute;
  bottom: 10px;
  left: 1106px;
  font-size: 2vw;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.about-image {
  max-width: 250px;
  float: left;
  padding:10 10 0 0;

}

.container {
  position: relative;
  margin: auto;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}


/*

    Tour Dates

*/
table {
  margin-top: 50px;
  color: #333;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0;
}

td, th {  border: 0 none; height: 30px; }

th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}

td { background: #FAFAFA; text-align: center; }

/* Zebra Stripe Rows */

tr:nth-child(even) td { background: #EEE; }
tr:nth-child(odd) td { background: #FDFDFD; }

/* Add border-radius to specific cells */
tr:first-child, th:first-child {
  border-radius: 5px 0 0 0;
}

tr:first-child th:nth-child(2) {
  border-radius: 0 0 0 0;
}

tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}


/*

    Media

*/

.media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.media-card-wrapper {
  width: 250px;
  height: 250px;
  position:relative;
  text-align: center;
}

.media-card{
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 25px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 0;
  transition: all .3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.media-card > img {
  width: 100%;
  height: 100%;
}

.media-card:hover {
  width: 220px;
  height: 220px;
  z-index: 10;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
}

.media-list > iframe {
  margin-bottom: 50px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*

  Discography

*************************************************/



/*

  Merch

*/


/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* --------------------------------

Main Components

-------------------------------- */

.cd-header h1 {
  color: #000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin-top: 33px;
  margin-left: 116px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}

/* --------------------------------

xtab-filter

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  z-index: 1;

}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/cd-icon-arrow.png") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #000;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #000;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #000, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #000;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #000;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #000;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
.mix {
  width:600px;
  height: 600px:
}
.clothes {
  width:600px;
  height: 600px:
}
.albums {
  width:600px;
  height: 600px:
}

.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}

.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: none;
}

.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xfilter

-------------------------------- */
.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
}
.no-touch .cd-filter .cd-close:hover {
  background: #000;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("./assets/images/cd-icon-arrow.png") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #000;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/*
   DISCOGRAPHY
 */

 .album-cover1 {
   width: 50%;
   height: auto;
   margin: 20px;
   position: relative;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
 }

 .album-cover2 {
   width: 50%;
   height: auto;
   margin: 20px;
   position: relative;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
 }

 .album-cover3 {
   width: 50%;
   height: auto;
   margin: 20px;
   position: relative;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
 }

.albums {
  margin-top: 40px;
  width: 400px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .albums {
    text-align: left;
  }
}

ul.album-detail1 {
  position: relative;
  z-index:2;
  padding:0;
  list-style:none;
}

ul.album-detail2 {
  position: relative;
  z-index:2;
  padding:0;
  list-style:none;
}

ul.album-detail3 {
  position: relative;
  z-index:2;
  padding:0;
  list-style:none;
}

@media (min-width: 1024px){
  ul.album-detail1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  @media (min-width: 1024px){
  ul.album-detail2 {
    margin-left: 300px;
    margin-right: 300px;
  }

    @media (min-width: 1024px){
  ul.album-detail3 {
    margin-left: 300px;
    margin-right: 300px;
  }

.album-title{
  margin: 30px 0 0 0;
  font-size: 34px;
  font-weight:600;
  font-family: 'Roboto', sans-serif;
}

ul.track-listings{
  margin-top: 20px;
  padding:0;
  list-style: none;
}

ul.track-listings > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed #9a9a9a;
}

span.track-number {
  margin-right: 10px;
}

ul-track-listings > li > .track-time {
  text-align: right;
}
