@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(2, 2, 2);
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

.logo {
  max-height: 75px;
  float: left;
  padding: 10px 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

nav li {
  list-style: none;
  margin-top: 15px;
  margin-left: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

nav a:hover{
    color: #555;
  }

.sticky {
  position:fixed;
  top: 0;
  width:100%;
}

.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 24px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 3px;
  }

  nav ul {
    max-height: 0px;
    background: black;
  }

  nav.black ul {
    background: black
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width:100%;
    padding: 24px 0;
    text-align:center;
  }

  .menu-icon {
    display: block;
  }

}

.bl-overlay{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btext-overlay {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 4vw
}
.id-overlay{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ltext-overlay {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 4vw;
}

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #000000;
  opacity: .1;
}

/*

    ABOUT

*/

/* Container holding the image and the text (how to make the container responsive?)*/
.m-container {
  position:relative;
  width: 100%;
  height: 356px;
  text-align: center;
  box-shadow: inset 0px 0px 50px 40px rgba(0,0,0,0.75);
  color: white;
}
.members {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2
}

.member1 {
  position: absolute;
  bottom: 46px;
  left: 16px;
  font-size: 2vw;
  font-weight: bold;
}

.role1 {
  position: absolute;
  bottom: 10px;
  left: 16px;
  font-size: 2vw;
  font-weight: lighter;
}

.member2 {
  position: absolute;
  bottom: 46px;
  left: 386px;
  font-size: 2vw;
  font-weight: bold;
}

.role2 {
  position: absolute;
  bottom: 10px;
  left: 386px;
  font-size: 2vw;
  font-weight: lighter;
}

.member3 {
  position: absolute;
  bottom: 46px;
  left: 736px;
  font-size: 2vw;
  font-weight: bold;
}

.role3 {
  position: absolute;
  bottom: 10px;
  left: 736px;
  font-size: 2vw;
  font-weight: lighter;
}

.member4 {
  position: absolute;
  bottom: 46px;
  left: 1106px;
  font-size: 2vw;
  font-weight: bold;
}

.role4 {
  position: absolute;
  bottom: 10px;
  left: 1106px;
  font-size: 2vw;
  font-weight: lighter;
}

.about-image {
  max-width: 250px;
  float: left;
  padding-right: 10px;
}

.container {
  width: 100%;
  padding: 60px;
}
